<button (click)="getDogePrice()" *ngIf=!_dogePrice>Get Current Doge Price</button>
<div id="price_container" class="tickerBase tickerTable" *ngIf=_dogePrice>
  <p class="tickerBase title">Current Dogecoin Price at {{ _dogePrice.at }}</p>
  <table>
    <tr>
      <th>Low</th>
      <th>Current</th>
      <th>High</th>
    </tr>
    <tr>
      <td class="loss">${{ _dogePrice.ticker.low}}</td>
      <td>${{ _dogePrice.ticker.last }}</td>
      <td class="gain">${{ _dogePrice.ticker.high}}</td>
    </tr>
  </table>
  <button (click)="getDogePrice()" >Go Again?</button>
</div>

