.tickerBase {
  font-size: 30px;
  color: #444444;
}

.tickerTable {

}

table {
  border-spacing: 50px 0;
}

.title {
  font-size: 48px;
}

.gain {
  color: #1c7430;
}

.loss {
  color: rgba(189, 9, 8, 0.95);
}
